<a href="https://colab.research.google.com/github/SaraZachi/Working_with_Pyspark/blob/main/Notebooks/Pyspark_P1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 63 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 63.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=29cc630bef87366c01fa1e4b5af7a924d39726085f87db13fec1ef0130062eee
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [ ]:
import pyspark

In [ ]:
import pandas as pd
df_pandas = pd.read_csv(r'/content/test1.csv', sep=';')
df_pandas

    Name  Age
0  Chris   30
1    Sam   31
2    Dan   29

In [ ]:
# tipo de df
type(df_pandas)

pandas.core.frame.DataFrame

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('practise').getOrCreate()
spark

In [ ]:
df_pyspark = spark.read.option('header', True).option('delimiter', ';').csv('test1.csv')
df_pyspark

DataFrame[Name: string, Age: string]

In [ ]:
# É preciso add '.show()' para visualizar o df
df_pyspark.show()

+-----+---+
| Name|Age|
+-----+---+
|Chris| 30|
|  Sam| 31|
|  Dan| 29|
+-----+---+

In [ ]:
# tipo de df
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
# See the first 3 rows
df_pyspark.head(3)

[Row(Name;Age='Chris;30'), Row(Name;Age='Sam;31'), Row(Name;Age='Dan;29')]

In [ ]:
# See info about columns
df_pyspark.printSchema()

root
 |-- Name;Age: string (nullable = true)