<a href="https://colab.research.google.com/github/SaraZachi/Working_with_Pyspark/blob/main/Notebooks/Pyspark2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.1.2)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9)

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
# Starting Pyspark session => setting up
spark=SparkSession.builder.appName('DataFrame').getOrCreate()
spark

Without 'inferSchema=True', pyspark will determine every information within a column as a string. Therefore, when we 'printSchema', for each column the description will be 'string'.

* integer (int): whole number
* string: character sequences (ex.: words, phrases, etc.)

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
# read data set
df_pyspark = spark.read.option('delimiter', ';').csv('/content/test2.csv', header=False, inferSchema=True)
df_pyspark.show()

+-----+---+----------+
|  _c0|_c1|       _c2|
+-----+---+----------+
| Name|Age|Experience|
|Chris| 30|        10|
|  Sam| 31|         8|
|  Dan| 29|         4|
+-----+---+----------+

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
# Cheking out the data type of a column
df_pyspark.columns

['Name', 'Age', 'Experience']

In [ ]:
df_pyspark.head(3)

[Row(Name='Chris', Age=30, Experience=10),
 Row(Name='Sam', Age=31, Experience=8),
 Row(Name='Dan', Age=29, Experience=4)]

In [ ]:
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Chris| 30|        10|
|  Sam| 31|         8|
|  Dan| 29|         4|
+-----+---+----------+

In [ ]:
# select a column by it's name
df_pyspark.select('Name').show()

+-----+
| Name|
+-----+
|Chris|
|  Sam|
|  Dan|
+-----+

In [ ]:
df_pyspark.select(['Name', 'Experience']).show()

+-----+----------+
| Name|Experience|
+-----+----------+
|Chris|        10|
|  Sam|         8|
|  Dan|         4|
+-----+----------+

In [ ]:
# In pandas, this is what we'll usualy do to select a column. However, in PySpark, 
# this will only show the what the selection is. In this case, a columns.

df_pyspark['Name']

Column<'Name'>

In [ ]:
#  Chek data types
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [ ]:
# Only describes the dataframe and what kind of class each column belongs to
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [ ]:
# Same description achieved with pandas through the 'describe' command
df_pyspark.describe().show()

+-------+-----+----+-----------------+
|summary| Name| Age|       Experience|
+-------+-----+----+-----------------+
|  count|    3|   3|                3|
|   mean| null|30.0|7.333333333333333|
| stddev| null| 1.0|3.055050463303893|
|    min|Chris|  29|                4|
|    max|  Sam|  31|               10|
+-------+-----+----+-----------------+

In [ ]:
#  Adding columns in a data frame
df_pyspark = df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience']+2)
df_pyspark

DataFrame[Name: string, Age: int, Experience: int, Experience After 2 years: int]

In [ ]:
df_pyspark.show()

+-----+---+----------+------------------------+
| Name|Age|Experience|Experience After 2 years|
+-----+---+----------+------------------------+
|Chris| 30|        10|                      12|
|  Sam| 31|         8|                      10|
|  Dan| 29|         4|                       6|
+-----+---+----------+------------------------+

In [ ]:
#  Drop a column
df_pyspark.drop('Experience After 2 years').show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Chris| 30|        10|
|  Sam| 31|         8|
|  Dan| 29|         4|
+-----+---+----------+

In [ ]:
# Rename the columns
df_pyspark.withColumnRenamed('Name', 'New Name').show()

+--------+---+----------+------------------------+
|New Name|Age|Experience|Experience After 2 years|
+--------+---+----------+------------------------+
|   Chris| 30|        10|                      12|
|     Sam| 31|         8|                      10|
|     Dan| 29|         4|                       6|
+--------+---+----------+------------------------+