<a href="https://colab.research.google.com/github/SaraZachi/Working_with_Pyspark/blob/main/Notebooks/Pyspark3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.1.2)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9)

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
# Starting Pyspark session => setting up
spark=SparkSession.builder.appName('DataFrame').getOrCreate()
spark

In [ ]:
df_pyspark = spark.read.option('delimiter', ';').csv('/content/test3.csv', header=True, inferSchema=True)
df_pyspark

DataFrame[Name: string, Age: int, Experience: int, Salary: int]

In [ ]:
df_pyspark.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|Chris|  30|        10| 30000|
|  Sam|  31|         8| 25000|
|  Dan|  29|         4| 20000|
|  Ana|  24|         3| 20000|
| Cloe|  21|         1| 15000|
| Carl|  23|         2| 18000|
|Piper|null|      null| 40000|
| null|  34|        10| 38000|
| null|  36|      null|  null|
+-----+----+----------+------+

In [ ]:
# Dropp column
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  30|        10| 30000|
|  31|         8| 25000|
|  29|         4| 20000|
|  24|         3| 20000|
|  21|         1| 15000|
|  23|         2| 18000|
|null|      null| 40000|
|  34|        10| 38000|
|  36|      null|  null|
+----+----------+------+

In [ ]:
df_pyspark.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|Chris|  30|        10| 30000|
|  Sam|  31|         8| 25000|
|  Dan|  29|         4| 20000|
|  Ana|  24|         3| 20000|
| Cloe|  21|         1| 15000|
| Carl|  23|         2| 18000|
|Piper|null|      null| 40000|
| null|  34|        10| 38000|
| null|  36|      null|  null|
+-----+----+----------+------+

In [ ]:
# Drop entire row with null values by default
df_pyspark.na.drop().show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Chris| 30|        10| 30000|
|  Sam| 31|         8| 25000|
|  Dan| 29|         4| 20000|
|  Ana| 24|         3| 20000|
| Cloe| 21|         1| 15000|
| Carl| 23|         2| 18000|
+-----+---+----------+------+

In [ ]:
# Any == how
## Drop entire rows with any null value
df_pyspark.na.drop(how='any').show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Chris| 30|        10| 30000|
|  Sam| 31|         8| 25000|
|  Dan| 29|         4| 20000|
|  Ana| 24|         3| 20000|
| Cloe| 21|         1| 15000|
| Carl| 23|         2| 18000|
+-----+---+----------+------+

In [ ]:
# Threshold
## Deleting rows with more then a certain amount of not null cells
### The 'thresh' comand will define how many not null cells we need to have.
### If there are less non null cells then the threshold variable, the row is deleted.
df_pyspark.na.drop(how='any', thresh=3).show()
df_pyspark.na.drop(how='any', thresh=2).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Chris| 30|        10| 30000|
|  Sam| 31|         8| 25000|
|  Dan| 29|         4| 20000|
|  Ana| 24|         3| 20000|
| Cloe| 21|         1| 15000|
| Carl| 23|         2| 18000|
| null| 34|        10| 38000|
+-----+---+----------+------+

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|Chris|  30|        10| 30000|
|  Sam|  31|         8| 25000|
|  Dan|  29|         4| 20000|
|  Ana|  24|         3| 20000|
| Cloe|  21|         1| 15000|
| Carl|  23|         2| 18000|
|Piper|null|      null| 40000|
| null|  34|        10| 38000|
+-----+----+----------+------+

In [ ]:
# Subset
## Drop rows with null values in a specific column
df_pyspark.na.drop(how='any', subset=['Experience']).show()
df_pyspark.na.drop(how='any', subset=['Name']).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Chris| 30|        10| 30000|
|  Sam| 31|         8| 25000|
|  Dan| 29|         4| 20000|
|  Ana| 24|         3| 20000|
| Cloe| 21|         1| 15000|
| Carl| 23|         2| 18000|
| null| 34|        10| 38000|
+-----+---+----------+------+

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|Chris|  30|        10| 30000|
|  Sam|  31|         8| 25000|
|  Dan|  29|         4| 20000|
|  Ana|  24|         3| 20000|
| Cloe|  21|         1| 15000|
| Carl|  23|         2| 18000|
|Piper|null|      null| 40000|
+-----+----+----------+------+

In [ ]:
# Fill missing values
## Obs.: you have to specify which column will be overwritten. By default, all the columns will be overwritten.
##Additionally, you can't fill a column with strings with integer and vice versa.
df_pyspark.na.fill('Missing Values') \
    .na.fill(0).show()
# another way to wright: df_pyspark.na.fill(value=0,subset=['Age']).show()

+--------------+---+----------+------+
|          Name|Age|Experience|Salary|
+--------------+---+----------+------+
|         Chris| 30|        10| 30000|
|           Sam| 31|         8| 25000|
|           Dan| 29|         4| 20000|
|           Ana| 24|         3| 20000|
|          Cloe| 21|         1| 15000|
|          Carl| 23|         2| 18000|
|         Piper|  0|         0| 40000|
|Missing Values| 34|        10| 38000|
|Missing Values| 36|         0|     0|
+--------------+---+----------+------+

In [ ]:
df_pyspark.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|Chris|  30|        10| 30000|
|  Sam|  31|         8| 25000|
|  Dan|  29|         4| 20000|
|  Ana|  24|         3| 20000|
| Cloe|  21|         1| 15000|
| Carl|  23|         2| 18000|
|Piper|null|      null| 40000|
| null|  34|        10| 38000|
| null|  36|      null|  null|
+-----+----+----------+------+

In [ ]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age', 'Experience', 'Salary'],
    outputCols=['{}_imputed'.format(c) for c in ['Age', 'Experience', 'Salary']]
    ).setStrategy('mean')

In [ ]:
#  Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-----+----+----------+------+-----------+------------------+--------------+
| Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-----+----+----------+------+-----------+------------------+--------------+
|Chris|  30|        10| 30000|         30|                10|         30000|
|  Sam|  31|         8| 25000|         31|                 8|         25000|
|  Dan|  29|         4| 20000|         29|                 4|         20000|
|  Ana|  24|         3| 20000|         24|                 3|         20000|
| Cloe|  21|         1| 15000|         21|                 1|         15000|
| Carl|  23|         2| 18000|         23|                 2|         18000|
|Piper|null|      null| 40000|         28|                 5|         40000|
| null|  34|        10| 38000|         34|                10|         38000|
| null|  36|      null|  null|         36|                 5|         25750|
+-----+----+----------+------+-----------+------------------+--------------+